extends layout

block content
  h1= title
  p Welcome to #{title}
  .container
    .chart-container.ct-golden-section#chart
    //filter#blur
    //    feGaussianBlur(in='SourceGraphic' stdDeviation='5')